<div class="bg-image">
    <section id="head">
        <a class="title" [routerLink]="['/home']">
            <h1>
                Wiki <span class="yellow">Royale</span>
            </h1>
            <img src="../../assets/images/logo.webp" alt="">
        </a>        
    </section>
</div>

<div class="text-bottom-right"><p>C'est ici que les cartes du deck apparaissent, les joueurs peuvent n'en choisir que quatre par quatre pour les utiliser pendant le combat.</p></div>
<div class="text-top-right"><p>A gauche, on voit les tours ennemies avec leurs points de vie respectifs</p></div>
<div class="text-middle-left"><p>On peut placer nos troupes de l'arrière de nos tours jusqu'à l'entrée du pont</p></div>
<div class="text-bottom-left"><p>On voit la barre d'elexir, on peut avoir que 10 gouttes maximum</p></div>
<div class="text-timer"><p>ici, le timer. Une partie dure 3 minutes.</p></div>

<div class="title">
    <a href="#">
        <img src="../../assets/images/map.jpg" alt="" id="map">
    </a>
</div>
