<div class="bg-image">
    <section id="sorting" >
        <section name="filter">
            <select name="type" (change)="onTypeChange($event)">
                <option value="default" selected>Default</option>
                <option value="troop">Troop</option>
                <option value="building">Building</option>
                <option value="spell">Spell</option>
                <option value="tower troop">Tower Troop</option>
            </select>
            <input class="elixir-input" type="number" name="elixir" placeholder="elixir" (change)="onElixirChange($event)">
        </section>
        <select name="sorting" (change)="onSortChange($event)">
            <option value="default" selected>Default</option>
            <option value="name">Name</option>
            <option value="elixir">Elixir</option>
            <option value="rarity">Rarity</option>
        </select>        
    </section>
    <section *ngIf="!elixir && (!type || type.toLowerCase() =='tower troop')">
        <h2>Tower troops</h2>
        <div class="cards-div">
            <div class = "card-container" *ngFor="let card of getCardsByType('tower troop')">
                <app-card [card]="card"></app-card>
                <app-detail [card]="card"></app-detail>
            </div>
        </div>
    </section>
    <section *ngIf="(!type || type.toLowerCase()=='troop') && getCardsByType('troop').length != 0">
        <h2>Troops</h2>
        <div class="cards-div">
            <div class = "card-container" *ngFor="let card of getCardsByType('troop')">
                <app-card [card]="card"></app-card>
                <app-detail [card]="card"></app-detail>
            </div>
        </div>
    </section>
    <section *ngIf="(!type || type.toLowerCase() =='building') && getCardsByType('building').length != 0">
        <h2>Buildings</h2>
        <div class="cards-div">
            <div class = "card-container" *ngFor="let card of getCardsByType('building')">
                <app-card [card]="card"></app-card>
                <app-detail [card]="card"></app-detail>
            </div>
        </div>
    </section>
    <section *ngIf="(!type || type.toLowerCase() =='spell') && getCardsByType('spell').length != 0">
        <h2>Spells</h2>
        <div class="cards-div">
            <div class = "card-container" *ngFor="let card of getCardsByType('spell')">
                <app-card [card]="card"></app-card>
                <app-detail [card]="card"></app-detail>
            </div>
        </div>
    </section>
</div>
