@font-face {
    font-family: 'Royale';
    src: url('../../assets/fonts/You_Blockhead.ttf') format('truetype');
}

@media (max-width: 870px) {
    .overlay{
        animation : fade 3s infinite alternate;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.elixir {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    z-index: 1;
}

.elixir-icon {
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 1;
    max-width: 100%;
}

.elixir-cost {
    position: absolute;
    top: 6%;
    left: 35%;
    z-index: 1;
    font-size: 100%;
    font-family: 'Royale';
    color: white;
}

section{
    margin: 2%;
}

.cards-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 150px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition : opacity 0.3s ease;
}

.container:hover .overlay {
    opacity: 1;
}

.evolution {
    display: block;
    width: 100%;
    height: auto;
}


.details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.details button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.details p {
    opacity: 1;
    transition: opacity 0.3s ease;
    position: relative;
}

.details:hover button {
    display: block;
}

.details:hover p {
    opacity: 0;
}

p, h1, h2 {
    font-family: 'Royale';
    color: white;
}

p {
    max-width: 150px;
    text-align: center;
}

.yellow {
    color: #FFD700;
}

.bouton-rond {
    display: inline-block;
    border: none;
    border-radius: 8px;
    background-color: #f4cf6b;
    color: #0c3351;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.bouton-rond:hover {
    background-color: #f5dd80;
    transform: translateY(-2px);
}

.bouton-rond:active {
    background-color: #eac54a;
    transform: translateY(1px);
}

#sorting {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

select {
    font-family: 'Royale';
    font-size: 16px;
    border: 2px solid #0c3351;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #4d739e;
    color: white;
    outline: none;
    cursor: pointer;
    appearance: none;
}

option {
    background-color: #0c3351;
    color: white;
}

.elixir-input {
    font-family: 'Royale';
    border: 2px solid #0c3351;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #4d739e;
    color: white;
    outline: none;
    cursor: pointer;
    appearance: none;
}