<div class="bg-image">
    <section>
        <a class="title" [routerLink]="['/home']">
            <h1>
                Wiki <span class="yellow">Royale</span>
            </h1>
            <img src="../../assets/images/logo.webp" alt="">
        </a>        
    </section>
    <section id="sorting" >
        <select name="sorting" (change)="onSortChange($event)">
            <option value="default" selected>Default</option>
            <option value="name">Name</option>
            <option value="elixir">Elixir</option>
            <option value="rarity">Rarity</option>
        </select>        
    </section>
    <section>
        <h2>Tower troops</h2>
        <div class="cards-div">
            <app-card *ngFor="let card of getCardsByType('tower troop')" [card]="card"></app-card>
        </div>
    </section>
    <section>
        <h2>Troops</h2>
        <div class="cards-div">
            <app-card *ngFor="let card of getCardsByType('troop')" [card]="card"></app-card>
        </div>
    </section>
    <section>
        <h2>Buildings</h2>
        <div class="cards-div">
            <app-card *ngFor="let card of getCardsByType('building')" [card]="card"></app-card>
        </div>
    </section>
    <section>
        <h2>Spells</h2>
        <div class="cards-div">
            <app-card *ngFor="let card of getCardsByType('spell')" [card]="card"></app-card>
        </div>
    </section>
</div>
