<div class="bg-image">
    <section>
        <a class="title" [routerLink]="['/home']">
            <h1>
                Wiki <span class="yellow">Royale</span>
            </h1>
            <img src="../../assets/images/logo.webp" alt="">
        </a>        
    </section>
    <section>
        <div *ngFor="let card of cards">
            <div class="container">
                <img src="{{ card.iconUrls.medium}}" alt="{{card.name}}" class="image">
                <div class="elixir">
                    <img src="../../assets/images/Elixir.svg" alt="" class="elixir-icon">
                    <p class="elixir-cost">{{ card.elixirCost }}</p>
                </div>
                <div class="overlay" *ngIf="card.iconUrls.evolutionMedium">
                    <img src="{{ card.iconUrls.evolutionMedium}}" alt="{{ card.name }}" class="evolution">
                </div>
            </div>
            <div class="details">
                <p> {{ card.name }} </p>
                <button class="bouton-rond" mat-fab extended [routerLink]="['/cards', card.name]">
                    Details
                </button>
            </div>
        </div>
    </section>
</div>