<div class="bg-image">
    <app-header></app-header>
    <section>
        <h2>Deck</h2>
        <div class="cards-div">
            <div class = "card-container" *ngFor="let card of deck">
                <app-card [card]="card" (contextmenu)="removeFromDeck(card)"></app-card>
            </div>
        </div>
    </section>
    <section id="sorting" >
        <select name="sorting" (change)="onSortChange($event)">
            <option value="default" selected>Default</option>
            <option value="name">Name</option>
            <option value="elixir">Elixir</option>
            <option value="rarity">Rarity</option>
        </select>        
    </section>
    <section *ngIf="!elixir && (!type || type.toLowerCase() =='tower troop')">
        <h2>Tower troops</h2>
        <div class="cards-div">
            <div class = "card-container" *ngFor="let card of getCardsByType('tower troop')">
                <app-card [card]="card" (click)="addToDeck(card)"></app-card>
            </div>
        </div>
    </section>
    <section *ngIf="!type || type.toLowerCase()=='troop'">
        <h2>Troops</h2>
        <div class="cards-div">
            <div class = "card-container" *ngFor="let card of getCardsByType('troop')">
                <app-card [card]="card" (click)="addToDeck(card)"></app-card>
            </div>
        </div>
    </section>
    <section *ngIf="!type || type.toLowerCase() =='building'">
        <h2>Buildings</h2>
        <div class="cards-div">
            <div class = "card-container" *ngFor="let card of getCardsByType('building')">
                <app-card [card]="card" (click)="addToDeck(card)"></app-card>
            </div>
        </div>
    </section>
    <section *ngIf="!type || type.toLowerCase() =='spell'">
        <h2>Spells</h2>
        <div class="cards-div">
            <div class = "card-container" *ngFor="let card of getCardsByType('spell')">
                <app-card [card]="card" (click)="addToDeck(card)"></app-card>
            </div>
        </div>
    </section>
</div>
