<div class="bg-image">
    <section>
        <h2>Deck</h2>
        <div class="deck">
            <div class="deck-slots">
                <app-card [card]="card" *ngFor="let card of deck" (contextmenu)="removeFromDeck(card, $event)"></app-card>
                <img *ngFor="let _ of emptySlots()" src="../../assets/images/card_blank.png" alt="" class="empty-slot-icon">
            </div>
            <div class="deck-buttons">
                <div class="elixir-moyenne">
                    <img src="../../assets/images/Elixir.svg" alt="" class="elixir-moyenne-icon">
                    <p class="elixir-moyenne">{{ moyenneElixir() }}</p>
                </div>
                <button (click)="populateRandomDeck()">deck random</button>
                <button (click)="exportDeck()">exporter</button>
            </div>
        </div>
    </section>
    <section id="sorting" >
        <select name="sorting" (change)="onSortChange($event)">
            <option value="default" selected>Default</option>
            <option value="name">Name</option>
            <option value="elixir">Elixir</option>
            <option value="rarity">Rarity</option>
        </select>        
    </section>
    <section *ngFor="let type of ['troop', 'building', 'spell']">
        <h2>{{ type | titlecase }}s</h2>
        <div class="cards-div">
            <div class = "card-container" *ngFor="let card of getCardsByType(type)">
                <app-card [card]="card" (click)="addToDeck(card)"></app-card>
            </div>
        </div>
    </section>
</div>
