section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
}

.container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 150px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}


p, h1 {
    font-family: 'Royale';
    color: white;
}

.yellow {
    color: #FFD700;
}



#presentation {

    font-size: 20px;
    color: white;
    justify-content: center;
}


@font-face {
    font-family: 'Royale';
    src: url('../../assets/fonts/You_Blockhead.ttf') format('truetype');
}

.title {
    background-color: transparent;
    text-align: center;
    font-size: 300%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title img {
    width: 25%;
    height: auto;
}

@media (max-width: 870px) {
    .title img {
        display: none;
    }

    .overlay{
        animation : fade 3s infinite alternate;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}


.container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 150px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition : opacity 0.3s ease;
}

.container:hover .overlay {
    opacity: 1;
}





.yellow {
    color: #FFD700;
}

