<div class="bg-image">
    
    <section>
        <h1>
            <span class="yellow">Clash Royale, c'est quoi ?</span>
        </h1>
        <div id="presentation">
            <p>Clash Royale est un jeu vidéo de <span class="yellow">duel multijoueur</span> en temps réel, développé et édité par <span class="yellow">Supercell</span>, sorti le 2 mars 2016 à l'international sur iOS et Android.</p> 
            <p>Il mêle des éléments de <span class="yellow">tower defense</span> et de MOBA, et intègre un système de <span class="yellow">cartes à collectionner.</span></p> 
            <p>Il est inspiré de l'univers du jeu <span class="yellow">Clash of Clans</span> du même développeur, sorti le 2 août 2012. </p>
            <p>Jeux mobile exclusivement lors de sa sortie, il est disponible et jouable sur PC depuis fin octobre 2023. </p>
        </div>
        <h1>
            <span class="yellow">Quel est le but du jeu ?</span>
        </h1>
        <div id="presentation">
            <p>Sur une carte unique, <span class="yellow">deux joueurs</span> s’affrontent.</p>
            <p>Chacun possède <span class="yellow">trois tours</span> qu’il va falloir <span class="yellow">défendre</span> d’un côté et <span class="yellow">détruire</span> de l’autre.</p>
            <p>Pour cela, il faut dégainer <span class="yellow">des troupes</span> de son <b class="yellow">deck</b>, <span class="yellow">consomment</span> toutes un certain nombre de points d'<span class="yellow">elexir</span>.</p>
            <p>L'elexir se <span class="yellow">recharge</span> progressivement après son utilisation.</p>
            <p> Ces duels se déroulent en un <span class="yellow">temps limité</span>. Il ne faut donc pas traîner.</p>
            <p> Le premier à avoir <span class="yellow">abattu</span> <span class="yellow">la tour sur laquelle se trouve le roi adverse</span> ou à avoir détruit <span class="yellow">le plus de tours</span> avant la fin du temps imparti l’emporte.</p>
        </div>
        <h1>
            <span class="yellow">C'est quoi un deck ?</span>
        </h1>
        <div id="presentation">
            <p>Un deck représente <span class="yellow">l'ensemble des huit cartes</span> que chaque joueur sélectionne pour utiliser lors des batailles en temps réel.</p> 
            <p>Ces cartes, soigneusement choisies parmi <span class="yellow">une vaste gamme d'unités</span>, de sorts et de bâtiments, définissent la stratégie et les tactiques que le joueur utilisera pour affronter ses adversaires.</p>  
            <p>Chaque carte dans un deck a son <span class="yellow">propre coût en élixir</span>, ses <span class="yellow">statistiques</span> et ses <span class="yellow">capacités uniques</span>, ce qui nécessite une planification minutieuse pour équilibrer les forces offensives, défensives et de soutien.</p>  
            <p>Concevoir un deck efficace demande une compréhension des <span class="yellow">mécaniques</span> du jeu et une adaptation constante aux évolutions de la <span class="yellow">méta</span>.</p>  
            <p>En choisissant judicieusement leurs cartes et en ajustant leur deck en fonction de leur <span class="yellow">style de jeu</span> et des <span class="yellow">stratégies</span> de leurs adversaires, les joueurs peuvent espérer atteindre la victoire dans les arènes de Clash Royale.</p> 
        </div>
        <h1>
            <span class="yellow">Comment débloquer des cartes ?</span>
        </h1>
        <div id="presentation">
            <p>Pour débloquer de nouvelles cartes, les joueurs ont plusieurs options à leur disposition.</p> 
            <p>Tout d'abord, en remportant des batailles et en ouvrant <span class="yellow">différents types de coffres</span>, tels que les coffres en <span class="yellow"></span>argent, en <span class="yellow">or</span>, <span class="yellow">géants</span>, <span class="yellow">magiques</span> et <span class="yellow">légendaires</span>, vous pouvez obtenir des cartes de différentes raretés.</p>  
            <p>De plus, à mesure que vous progressez dans les arènes, de nouvelles cartes deviennent accessibles, élargissant ainsi votre choix stratégique.</p>  
            <p>La <span class="yellow">boutique</span> du jeu offre également une opportunité d'acquérir des cartes spécifiques <span class="yellow">en échange d'or ou de gemmes</span>, et régulièrement, des cartes sont proposées à l'achat dans la section "Cartes communes" ou "Cartes rares".</p>  
            <p>Enfin, les <span class="yellow">événements spéciaux</span> et les <span class="yellow">défis</span> offrent parfois des cartes <span class="yellow">exclusives</span> ou des récompenses <span class="yellow">uniques</span>, encourageant ainsi les joueurs à participer pour enrichir leur collection. Avec ces multiples avenues pour débloquer de nouvelles cartes, les joueurs peuvent continuellement affiner leur deck, explorer de nouvelles stratégies et élever leur niveau de compétition dans l'univers dynamique de Clash Royale.</p>
        </div>
    </section>
</div>
