<div class="bg-image">
    <section id="head">
        <a class="title" [routerLink]="['/home']">
            <h1>
                Wiki <span class="yellow">Royale</span>
            </h1>
            <img src="../../assets/images/logo.webp" alt="">
        </a>        
    </section>
    <section>
        <h1>
        <span class="yellow">Quel est ce jeu ?</span>
        </h1>
        <div id="presentation">
            <p>Clash Royale est un jeu vidéo de duel multijoueur en temps réel, développé et édité par Supercell, sorti le 2 mars 2016 à l'international sur iOS et Android1.</p> 
            <p>Il mêle des éléments de tower defense et de MOBA, et intègre un système de cartes à collectionner.</p> 
            <p>Il est inspiré de l'univers du jeu Clash of Clans du même développeur, sorti le 2 août 2012. </p>
            <p>Jeux mobile exclusivement lors de sa sortie, il est disponible et jouable sur PC depuis fin octobre 2023. </p>
        </div>
        <h1>
            <span class="yellow">Quel est le but du jeu ?</span>
        </h1>
        <div id="presentation">
            <p>Sur une carte unique, deux joueurs s’affrontent.</p>
            <p>Chacun possède trois tours qu’il va falloir défendre d’un côté et détruire de l’autre.</p>
            <p>Pour cela, il faut dégainer des troupes de son <b class="yellow">deck</b>, consomment toutes un certain nombre de points d'elexir.</p>
            <p>L'elexir se recharge progressivement apres son utilisation.</p>
            <p> Ces duels se déroulent en un temps limité. Il ne faut donc pas traîner.</p>
            <p> Le premier à avoir abattu la tour sur laquelle se trouve le roi adverse ou à avoir détruit le plus de tours avant la fin du temps imparti l’emporte.</p>
        </div>
        <h1>
            <span class="yellow">C'est quoi un deck ?</span>
        </h1>
        <div id="presentation">
            <p>Un deck représente l'ensemble des huit cartes que chaque joueur sélectionne pour utiliser lors des batailles en temps réel.</p> 
            <p>Ces cartes, soigneusement choisies parmi une vaste gamme d'unités, de sorts et de bâtiments, définissent la stratégie et les tactiques que le joueur utilisera pour affronter ses adversaires.</p>  
            <p>Chaque carte dans un deck a son propre coût en élixir, ses statistiques et ses capacités uniques, ce qui nécessite une planification minutieuse pour équilibrer les forces offensives, défensives et de soutien.</p>  
            <p>Concevoir un deck efficace demande une compréhension des mécaniques du jeu et une adaptation constante aux évolutions de la méta.</p>  
            <p>En choisissant judicieusement leurs cartes et en ajustant leur deck en fonction de leur style de jeu et des stratégies de leurs adversaires, les joueurs peuvent espérer atteindre la victoire dans les arènes de Clash Royale.</p> 
        </div>
        <h1>
            <span class="yellow">Comment débloquer des cartes ?</span>
        </h1>
        <div id="presentation">
            <p>Pour débloquer de nouvelles cartes, les joueurs ont plusieurs options à leur disposition.</p> 
            <p>Tout d'abord, en remportant des batailles et en ouvrant différents types de coffres, tels que les coffres en argent, en or, géants, magiques et légendaires, vous pouvez obtenir des cartes de différentes raretés.</p>  
            <p>De plus, à mesure que vous progressez dans les arènes, de nouvelles cartes deviennent accessibles, élargissant ainsi votre choix stratégique.</p>  
            <p>La boutique du jeu offre également une opportunité d'acquérir des cartes spécifiques en échange d'or ou de gemmes, et régulièrement, des cartes sont proposées à l'achat dans la section "Cartes communes" ou "Cartes rares".</p>  
            <p>Enfin, les événements spéciaux et les défis offrent parfois des cartes exclusives ou des récompenses uniques, encourageant ainsi les joueurs à participer pour enrichir leur collection. Avec ces multiples avenues pour débloquer de nouvelles cartes, les joueurs peuvent continuellement affiner leur deck, explorer de nouvelles stratégies et élever leur niveau de compétition dans l'univers dynamique de Clash Royale.</p>
        </div>
    </section>
</div>
