@font-face {
    font-family: 'Royale';
    src: url('../../../assets/fonts/You_Blockhead.ttf') format('truetype');
}

.title {
    background-color: transparent;
    text-align: center;
    font-size: 200%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title h1{
    cursor: pointer;
}

.title img {
    width: 15%;
    height: auto;
    cursor: pointer;
}

.yellow {
    color: #FFD700;
}

@media (max-width: 870px) {
    .title img {
        display: none;
    }
}

section{
    margin: 2%;
}

h1 {
    font-family: 'Royale';
    color: white;
}