
<div class="btnRetour">
  <button [routerLink]="['/cards']">Retour</button>
</div>
<div *ngIf="cardInfo && card" class="bg-image">
  <div class="box">
    <div class="card-header">
      <div class="container">
        <img [src]="card.iconUrls.medium" [alt]="card.name" class="image">
        <div>
          <div *ngIf="card.elixirCost" class="elixir">
            <img src="../../assets/images/Elixir.svg" alt="" class="elixir-icon">
            <p class="elixir-cost">{{ card.elixirCost != 0 ? card.elixirCost : '?' }}</p>
          </div>
          <div class="overlay" *ngIf="card.iconUrls.evolutionMedium">
            <img [src]="card.iconUrls.evolutionMedium" [alt]="card.name" class="evolution">
          </div>
        </div>
      </div>
      <div>
        <h2>{{ card.name }}</h2>
        <div>
          <p *ngIf="card.rarity">Rareté: <span class="yellow">{{ card.rarity }}</span></p>
          <p *ngIf="card.type">Type: <span class="yellow">{{ card.type }}</span></p>
        </div>
      </div>
    </div>
    <div class="card-body">

      <button *ngIf="!showFirst" (click)="toggleSlides()"><</button>
      <div class="first" *ngIf="showFirst">
        <ng-container *ngFor="let key of getObjectKeys(cardInfo)">
          <div class="stat-container" *ngIf="key != 'name' && key != 'description'">
            <img src="../../assets/images/icons/icons_stats_{{key.toLowerCase()}}.png" alt="" width="30px" height="30px"> 
            <div class="stats">
              <h3>{{ key }}</h3>
              <h4>{{ getValueByKey(cardInfo, key) }}</h4>
            </div>
          </div>
        </ng-container>
    </div>
      <div class="second" *ngIf="!showFirst">
        <p>{{ cardInfo.description }}</p>
      </div>
      <button *ngIf="showFirst" (click)="toggleSlides()">></button>
    </div>
  </div>
</div>