@font-face {
  font-family: 'Royale';
  src: url('../../assets/fonts/You_Blockhead.ttf') format('truetype');
}

.bg-image {
  background-image: url('../../assets/images/background_accueil.png');
  background-size: 100% 100%;
}

.title {
  background-color: transparent;
  text-align: center;
  font-size: 3vw;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title img {
  width: 15%;
  height: auto;
}


#back {
    padding: 40px;
}

#titre {
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 80px;
}

#presentation {
    text-align: center;
    text-align: center;
    font-size: 1.5vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 20px; 
    border-radius: 8px;
}

section {
    text-align: center;
}

.bouton-rond {
    border-radius: 8px;
    background-color: #f4cf6b; 
    color: #0c3351; 
    padding: 12px 24px;
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase; 
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .bouton-rond:hover {
    background-color: #f5dd80; 
    transform: translateY(-2px); 
  }
  
  .bouton-rond:active {
    background-color: #eac54a; 
    transform: translateY(1px); 
  }

  div {
    margin-top: 50px;
  }

  p, h1 {
    font-family: 'Royale';
    color: white;
}