<!-- <body id="back">-->
<div class="bg-image">
    <div>
        <section>
            <a class="title" [routerLink]="['/home']">
                <h1>
                    Wiki <span class="yellow">Royale</span>
                </h1>
                <img src="../../assets/images/logo.webp" alt="">
            </a>        
        </section>
    </div>

    <section id="back">
    <div id="presentation">
        <p>Bienvenue sur WikiRoyale, votre destination ultime pour tout ce qui concerne Clash Royale ! </p>
        <p>Découvrez ici des descriptions détaillées, des émotes hilarantes, une galerie complète de cartes et des informations approfondies sur chacune d'entre elles.</p>
        <p>Plongez dans l'univers passionnant de Clash Royale et devenez un expert en un rien de temps !</p>
    </div>
    <div>
        <button class="bouton-rond" mat-fab extended [routerLink]="['/description']">
            Description
        </button>    
    </div>
    <div>
        <button class="bouton-rond" mat-fab extended [routerLink]="['/map']">
            Détails de la map
        </button>   
    </div>
    <div>
        <button class="bouton-rond" mat-fab extended [routerLink]="['/emotes']">
            Les emotes
        </button>   
    </div>
    <div>
        <button class="bouton-rond" mat-fab extended [routerLink]="['/cards']">
            Les cartes
        </button>   
    </div>   
    </section>
</div>
<!--</body> si je mets ça ça remplit tout le fond de la page mais ça fait bugger le site-->