<body id="back">
    <section>
    <div id="titre">WikiRoyale</div>
    <div id="presentation">
        <p>Bienvenue sur WikiRoyale, votre destination ultime pour tout ce qui concerne Clash Royale ! </p>
        <p>Découvrez ici des descriptions détaillées, des émotes hilarantes, une galerie complète de cartes et des informations approfondies sur chacune d'entre elles.</p>
        <p>Plongez dans l'univers passionnant de Clash Royale et devenez un expert en un rien de temps !</p>
    </div>
    <div>
        <button class="bouton-rond" mat-fab extended>
            Description
        </button>    
    </div>
    <div>
        <button class="bouton-rond" mat-fab extended>
            Les emotes
        </button>   
    </div>
    <div>
        <button class="bouton-rond" mat-fab extended>
            Détails de la map
        </button>   
    </div>
   
    </section>

</body>


