<div class="bg-image">
    <section>
        <a class="title" [routerLink]="['/home']">
            <h1>
                Wiki <span class="yellow">Royale</span>
            </h1>
            <img src="../../assets/images/logo.webp" alt="">
        </a>        
    </section>
    <section>
        <div *ngFor="let emote of emotes">
            <div class="container">
                <img src="{{ emote.iconUrls.medium }}" alt="{{emote.id}}" class="image">
            </div>
        </div>
    </section>
</div>
