@font-face {
    font-family: 'Royale';
    src: url('../../assets/fonts/You_Blockhead.ttf') format('truetype');
}

@media (max-width: 870px) {
    .overlay{
        animation : fade 3s infinite alternate;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
}

#presentation {
    text-align: left;
    justify-content: left;
    font-size: 20px;
    color: white;
}


.container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 170px;
}

.image {
    display: block;
    width: auto;
    height: 150px;
}



p, h1 {
    font-family: 'Royale';
    color: white;
}


.yellow {
    color: #FFD700;
}